Repository flock-lab/flock: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, cargo-sort-ck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/copyright.py
  language: system

cargo-sort-ck:
  name: sort-ck
  entry: cargo sort-ck -w
  language: system

fix: add `coalesce_windows()` to reach the payload limit
  benchmarks/nexmark/main.rs
  benchmarks/ysb/main.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/datasource/nexmark/queries/q0.rs
  flock/src/datasource/nexmark/queries/q1.rs
  flock/src/datasource/nexmark/queries/q10.rs
  flock/src/datasource/nexmark/queries/q11.rs
  flock/src/datasource/nexmark/queries/q12.rs
  flock/src/datasource/nexmark/queries/q13.rs
  flock/src/datasource/nexmark/queries/q2.rs
  flock/src/datasource/nexmark/queries/q3.rs
  flock/src/datasource/nexmark/queries/q4.rs
  flock/src/datasource/nexmark/queries/q5.rs
  flock/src/datasource/nexmark/queries/q6.rs
  flock/src/datasource/nexmark/queries/q6_v2.rs
  flock/src/datasource/nexmark/queries/q6_v3.rs
  flock/src/datasource/nexmark/queries/q7.rs
  flock/src/datasource/nexmark/queries/q8.rs
  flock/src/datasource/nexmark/queries/q9.rs
  flock/src/datasource/ysb/query.rs
  flock/src/driver/funcgen/function.rs
  flock/src/runtime/executor/plan.rs
  flock/src/tests/mod.rs
Due: copyright_checker

feat: add q12 on cloud functions (#396)
  benchmarks/nexmark/main.rs
  benchmarks/nexmark/query/q12.sql
  benchmarks/s3/main.rs
  benchmarks/ysb/main.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/window.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/nexmark/queries/q0.rs
  flock/src/datasource/nexmark/queries/q1.rs
  flock/src/datasource/nexmark/queries/q10.rs
  flock/src/datasource/nexmark/queries/q11.rs
  flock/src/datasource/nexmark/queries/q12.rs
  flock/src/datasource/nexmark/queries/q13.rs
  flock/src/datasource/nexmark/queries/q2.rs
  flock/src/datasource/nexmark/queries/q3.rs
  flock/src/datasource/nexmark/queries/q4.rs
  flock/src/datasource/nexmark/queries/q5.rs
  flock/src/datasource/nexmark/queries/q6.rs
  flock/src/datasource/nexmark/queries/q6_v2.rs
  flock/src/datasource/nexmark/queries/q6_v3.rs
  flock/src/datasource/nexmark/queries/q7.rs
  flock/src/datasource/nexmark/queries/q8.rs
  flock/src/datasource/nexmark/queries/q9.rs
  flock/src/datasource/ysb/query.rs
  flock/src/driver/funcgen/function.rs
  flock/src/runtime/context.rs
  flock/src/runtime/executor/plan.rs
  flock/src/runtime/query/stream.rs
  flock/src/tests/mod.rs
  flock_bench.sh
Due: copyright_checker

feat!: add list and delete functions in flock-cli
  flock-cli/Cargo.toml
  flock-cli/src/lambda.rs
  flock-cli/src/main.rs
  flock-cli/src/repl.rs
Due: copyright_checker, cargo-sort-ck

feat!: add list and delete functions in flock-cli (#397)
  flock-cli/Cargo.toml
  flock-cli/src/lambda.rs
  flock-cli/src/main.rs
  flock-cli/src/repl.rs
Due: copyright_checker, cargo-sort-ck

refactor!: flock-cli
  flock-cli/Cargo.toml
  flock-cli/src/fsql.rs
  flock-cli/src/lambda.rs
  flock-cli/src/main.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/rainbow.rs
  flock-cli/src/repl.rs
  flock-cli/src/s3.rs
Due: copyright_checker, cargo-sort-ck

feat: add logging in flock-cli
  flock-cli/Cargo.toml
  flock-cli/src/args.rs
  flock-cli/src/fsql.rs
  flock-cli/src/lambda.rs
  flock-cli/src/main.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/repl.rs
  flock-cli/src/s3.rs
Due: copyright_checker, cargo-sort-ck

fix: add comments
  flock-cli/src/args.rs
Due: copyright_checker

refactor!: flock-cli (#398)
  flock-cli/Cargo.toml
  flock-cli/src/args.rs
  flock-cli/src/fsql.rs
  flock-cli/src/lambda.rs
  flock-cli/src/main.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/rainbow.rs
  flock-cli/src/repl.rs
  flock-cli/src/s3.rs
Due: copyright_checker, cargo-sort-ck

feat: add nexmark bench in flock-cli
  benchmarks/Cargo.toml
  benchmarks/src/lib.rs
  benchmarks/src/nexmark/main.rs
  benchmarks/src/nexmark/query/q0.sql
  benchmarks/src/nexmark/query/q1.sql
  benchmarks/src/nexmark/query/q10.sql
  benchmarks/src/nexmark/query/q11.sql
  benchmarks/src/nexmark/query/q12.sql
  benchmarks/src/nexmark/query/q2.sql
  benchmarks/src/nexmark/query/q3.sql
  benchmarks/src/nexmark/query/q4.sql
  benchmarks/src/nexmark/query/q5.sql
  benchmarks/src/nexmark/query/q6.sql
  benchmarks/src/nexmark/query/q7.sql
  benchmarks/src/nexmark/query/q8.sql
  benchmarks/src/nexmark/query/q9.sql
  benchmarks/src/s3/main.rs
  benchmarks/src/ysb/main.rs
  benchmarks/src/ysb/ysb.sql
  flock-cli/Cargo.toml
  flock-cli/src/args.rs
  flock-cli/src/lambda.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/repl.rs
  flock/src/datasink/mod.rs
Due: copyright_checker, cargo-sort-ck

feat: add nexmark bench in flock-cli (#399)
  benchmarks/Cargo.toml
  benchmarks/src/lib.rs
  benchmarks/src/nexmark/main.rs
  benchmarks/src/nexmark/query/q0.sql
  benchmarks/src/nexmark/query/q1.sql
  benchmarks/src/nexmark/query/q10.sql
  benchmarks/src/nexmark/query/q11.sql
  benchmarks/src/nexmark/query/q12.sql
  benchmarks/src/nexmark/query/q2.sql
  benchmarks/src/nexmark/query/q3.sql
  benchmarks/src/nexmark/query/q4.sql
  benchmarks/src/nexmark/query/q5.sql
  benchmarks/src/nexmark/query/q6.sql
  benchmarks/src/nexmark/query/q7.sql
  benchmarks/src/nexmark/query/q8.sql
  benchmarks/src/nexmark/query/q9.sql
  benchmarks/src/s3/main.rs
  benchmarks/src/ysb/main.rs
  benchmarks/src/ysb/ysb.sql
  flock-cli/Cargo.toml
  flock-cli/src/args.rs
  flock-cli/src/lambda.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/repl.rs
  flock/src/datasink/mod.rs
Due: copyright_checker, cargo-sort-ck

feat: add ysb bench in flock-cli
  benchmarks/src/lib.rs
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock-cli/src/main.rs
  flock-cli/src/repl.rs
  flock-cli/src/ysb.rs
  flock/src/driver/deploy/config.rs
  flock/src/driver/deploy/mod.rs
  flock/src/services.rs
Due: copyright_checker

feat: add ysb bench in flock-cli (#401)
  benchmarks/src/lib.rs
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock-cli/src/main.rs
  flock-cli/src/repl.rs
  flock-cli/src/ysb.rs
  flock/src/driver/deploy/config.rs
  flock/src/driver/deploy/mod.rs
  flock/src/services.rs
Due: copyright_checker

fix: refine benchmark output
  benchmarks/src/lib.rs
  benchmarks/src/nexmark/main.rs
  benchmarks/src/rainbow.rs
  flock-cli/src/args.rs
  flock-cli/src/fsql.rs
  flock-cli/src/lambda.rs
  flock-cli/src/main.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/s3.rs
  flock-cli/src/ysb.rs
  flock-function/src/aws/window.rs
Due: copyright_checker

fix: refine benchmark output (#402)
  benchmarks/src/lib.rs
  benchmarks/src/nexmark/main.rs
  benchmarks/src/rainbow.rs
  flock-cli/src/args.rs
  flock-cli/src/fsql.rs
  flock-cli/src/lambda.rs
  flock-cli/src/main.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/s3.rs
  flock-cli/src/ysb.rs
  flock-function/src/aws/window.rs
Due: copyright_checker

fix: update clap requirement from 2.33.3 to 3.0.0
  flock-cli/Cargo.toml
  flock-cli/src/args.rs
  flock-cli/src/fsql.rs
  flock-cli/src/lambda.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/repl.rs
  flock-cli/src/s3.rs
  flock-cli/src/ysb.rs
  scripts/parser/cloudwatch/Cargo.toml
Due: copyright_checker, cargo-sort-ck

fix: update clap requirement from 2.33.3 to 3.0.0 (#403)
  flock-cli/Cargo.toml
  flock-cli/src/args.rs
  flock-cli/src/fsql.rs
  flock-cli/src/lambda.rs
  flock-cli/src/nexmark.rs
  flock-cli/src/repl.rs
  flock-cli/src/s3.rs
  flock-cli/src/ysb.rs
  scripts/parser/cloudwatch/Cargo.toml
Due: copyright_checker, cargo-sort-ck

fix: update `flock_bench.sh` since we have flock-cli now
  flock_bench.sh
Due: copyright_checker

fix: update `./flock_bench.sh -r`
  flock_bench.sh
Due: copyright_checker

fix: typo
  flock_bench.sh
Due: copyright_checker

fix: update `flock_bench.sh` since we have `flock-cli` now (#404)
  flock_bench.sh
Due: copyright_checker

feat: support nexmark q13 on cloud functions
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/main.rs
  benchmarks/src/nexmark/query/q13.sql
  benchmarks/src/s3/main.rs
  flock-cli/src/nexmark.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/Cargo.toml
  flock/src/config.toml
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/nexmark/queries/q13.sql
  flock/src/services.rs
  flock_bench.sh
Due: copyright_checker, cargo-sort-ck

fix: we cannot infer schema for side input
  benchmarks/src/nexmark/main.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
Due: copyright_checker

fix: add side_input_schema()
  benchmarks/src/nexmark/main.rs
  flock/src/datasource/nexmark/event.rs
Due: copyright_checker

fix: unused variable: `ctx`
  benchmarks/src/nexmark/main.rs
Due: copyright_checker

fix: use base64 to encode schema
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/main.rs
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
Due: copyright_checker, cargo-sort-ck

feat: support nexmark q13 on cloud functions (#405)
  benchmarks/Cargo.toml
  benchmarks/src/nexmark/main.rs
  benchmarks/src/nexmark/query/q13.sql
  benchmarks/src/s3/main.rs
  flock-cli/src/nexmark.rs
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/Cargo.toml
  flock/src/config.toml
  flock/src/datasource/nexmark/event.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/nexmark/queries/q13.sql
  flock/src/services.rs
  flock_bench.sh
Due: copyright_checker, cargo-sort-ck

feat: repalce std hashmap with Google's SwissTable hash map impl
  flock/Cargo.toml
  flock/src/runtime/arena/mod.rs
Due: copyright_checker, cargo-sort-ck

feat: repalce std hashmap with Google's SwissTable hash map impl (#410)
  flock/Cargo.toml
  flock/src/runtime/arena/mod.rs
Due: copyright_checker, cargo-sort-ck

refactor: aws lambda function config
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock-cli/src/s3.rs
  flock/src/config.toml
  flock/src/configs/aws_lambda.rs
  flock/src/configs/mod.rs
  flock/src/driver/deploy/config.rs
  flock/src/driver/deploy/mod.rs
  flock/src/driver/mod.rs
  flock/src/driver/monitor/cloudwatch.rs
  flock/src/driver/monitor/mod.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/services.rs
  playground/src/scatter_gather_ops/main.rs
Due: copyright_checker

fix: async func bug
  flock/src/configs/aws_lambda.rs
  flock/src/driver/deploy/mod.rs
  flock/src/services.rs
  flock_bench.sh
  playground/src/scatter_gather_ops/main.rs
Due: copyright_checker

fix: remove flock conf into configs module
  flock-cli/src/s3.rs
  flock/src/configs/aws_lambda.rs
  flock/src/configs/flock.rs
  flock/src/configs/flock.toml
  flock/src/configs/mod.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/ysb/ysb.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/runtime/executor/mod.rs
  flock/src/services.rs
  flock/src/tests/mod.rs
Due: copyright_checker

fix: self flock
  flock/src/configs/mod.rs
Due: copyright_checker

docs: support arm
  README.md
Due: none

refactor: aws lambda function config (#411)
  benchmarks/src/nexmark/main.rs
  benchmarks/src/ysb/main.rs
  flock-cli/src/s3.rs
  flock/src/configs/aws_lambda.rs
  flock/src/configs/flock.rs
  flock/src/configs/flock.toml
  flock/src/configs/mod.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/ysb/ysb.rs
  flock/src/driver/deploy/config.rs
  flock/src/driver/deploy/mod.rs
  flock/src/driver/mod.rs
  flock/src/driver/monitor/cloudwatch.rs
  flock/src/driver/monitor/mod.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/runtime/executor/mod.rs
  flock/src/services.rs
  flock/src/tests/mod.rs
  flock_bench.sh
  playground/src/scatter_gather_ops/main.rs
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh|java|yaml|rs)$
  cargo-sort-ck: any of: (Cargo.toml)$, but not: src/legacy
