Repository flock-lab/flock: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, cargo-sort-ck

.pre-commit-config.yaml:

# Copyright (c) 2020-present, UMD Database Group.
#
# This program is free software: you can use, redistribute, and/or modify
# it under the terms of the GNU Affero General Public License, version 3
# or later ("AGPL"), as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: debug-statements
      - id: fix-encoding-pragma
      - id: end-of-file-fixer
      - id: detect-private-key
      # - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
      - id: check-symlinks
      - id: check-case-conflict
      - id: check-merge-conflict
  # - repo: https://github.com/jumanjihouse/pre-commit-hooks
  #   rev: 1.11.0
  #   hooks:
  #     - id: shellcheck
  - repo: https://github.com/wangkuiyi/google-style-precommit-hook
    rev: v0.1.1
    hooks:
      - id: google-style-java
        pass_filenames: false
  - repo: git://github.com/pre-commit/mirrors-yapf
    rev: v0.29.0
    hooks:
      - id: yapf
        language: system
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/copyright.py
        language: system
        files: \.(go|py|sh|java|yaml|rs)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: master
    hooks:
      - id: prettier
        exclude: src/tests/data/plan
        files: \.(md|css|yml|js)
  - repo: https://github.com/flock-lab/pre-commit-rust
    rev: master
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
        args: ["--all-targets", "--", "-D", "clippy::all"]
  - repo: local
    hooks:
      - id: cargo-sort-ck
        name: sort-ck
        entry: cargo sort-ck -w # cargo install cargo-sort-ck
        language: system
        exclude: src/legacy
        files: (Cargo.toml)$

fix: rename datetime to epoch
  flock/src/datasource/epoch.rs
  flock/src/datasource/mod.rs
  flock/src/datasource/nexmark/event.rs
  flock/src/datasource/nexmark/generator.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/nexmark/queries/q0.rs
  flock/src/datasource/nexmark/queries/q1.rs
  flock/src/datasource/nexmark/queries/q10.rs
  flock/src/datasource/nexmark/queries/q11.rs
  flock/src/datasource/nexmark/queries/q13.rs
  flock/src/datasource/nexmark/queries/q2.rs
  flock/src/datasource/nexmark/queries/q3.rs
  flock/src/datasource/nexmark/queries/q4.rs
  flock/src/datasource/nexmark/queries/q5.rs
  flock/src/datasource/nexmark/queries/q6.rs
  flock/src/datasource/nexmark/queries/q6_v2.rs
  flock/src/datasource/nexmark/queries/q6_v3.rs
  flock/src/datasource/nexmark/queries/q7.rs
  flock/src/datasource/nexmark/queries/q8.rs
  flock/src/datasource/nexmark/queries/q9.rs
  flock/src/datasource/ysb/event.rs
  flock/src/datasource/ysb/generator.rs
  flock/src/datasource/ysb/query.rs
  flock/src/datasource/ysb/ysb.rs
Due: copyright_checker

fix: rename datetime to epoch (#384)
  flock/src/datasource/epoch.rs
  flock/src/datasource/mod.rs
  flock/src/datasource/nexmark/event.rs
  flock/src/datasource/nexmark/generator.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/nexmark/queries/q0.rs
  flock/src/datasource/nexmark/queries/q1.rs
  flock/src/datasource/nexmark/queries/q10.rs
  flock/src/datasource/nexmark/queries/q11.rs
  flock/src/datasource/nexmark/queries/q13.rs
  flock/src/datasource/nexmark/queries/q2.rs
  flock/src/datasource/nexmark/queries/q3.rs
  flock/src/datasource/nexmark/queries/q4.rs
  flock/src/datasource/nexmark/queries/q5.rs
  flock/src/datasource/nexmark/queries/q6.rs
  flock/src/datasource/nexmark/queries/q6_v2.rs
  flock/src/datasource/nexmark/queries/q6_v3.rs
  flock/src/datasource/nexmark/queries/q7.rs
  flock/src/datasource/nexmark/queries/q8.rs
  flock/src/datasource/nexmark/queries/q9.rs
  flock/src/datasource/ysb/event.rs
  flock/src/datasource/ysb/generator.rs
  flock/src/datasource/ysb/query.rs
  flock/src/datasource/ysb/ysb.rs
Due: copyright_checker

fix: rename transform to transmute
  benchmarks/nexmark/main.rs
  benchmarks/ysb/main.rs
  flock/src/datasink/mod.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/nexmark/queries/q0.rs
  flock/src/datasource/nexmark/queries/q1.rs
  flock/src/datasource/nexmark/queries/q10.rs
  flock/src/datasource/nexmark/queries/q11.rs
  flock/src/datasource/nexmark/queries/q13.rs
  flock/src/datasource/nexmark/queries/q2.rs
  flock/src/datasource/nexmark/queries/q3.rs
  flock/src/datasource/nexmark/queries/q4.rs
  flock/src/datasource/nexmark/queries/q5.rs
  flock/src/datasource/nexmark/queries/q6.rs
  flock/src/datasource/nexmark/queries/q6_v2.rs
  flock/src/datasource/nexmark/queries/q6_v3.rs
  flock/src/datasource/nexmark/queries/q7.rs
  flock/src/datasource/nexmark/queries/q8.rs
  flock/src/datasource/nexmark/queries/q9.rs
  flock/src/datasource/ysb/query.rs
  flock/src/datasource/ysb/ysb.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/executor/mod.rs
  flock/src/runtime/mod.rs
  flock/src/runtime/payload.rs
  flock/src/tests/nexmark.rs
  flock/src/transmute.rs
Due: copyright_checker

fix: enable test in ci
  .github/workflows/rust.yml
Due: none

fix: rename transform to transmute (#385)
  .github/workflows/rust.yml
  benchmarks/nexmark/main.rs
  benchmarks/ysb/main.rs
  flock/src/datasink/mod.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/nexmark/queries/q0.rs
  flock/src/datasource/nexmark/queries/q1.rs
  flock/src/datasource/nexmark/queries/q10.rs
  flock/src/datasource/nexmark/queries/q11.rs
  flock/src/datasource/nexmark/queries/q13.rs
  flock/src/datasource/nexmark/queries/q2.rs
  flock/src/datasource/nexmark/queries/q3.rs
  flock/src/datasource/nexmark/queries/q4.rs
  flock/src/datasource/nexmark/queries/q5.rs
  flock/src/datasource/nexmark/queries/q6.rs
  flock/src/datasource/nexmark/queries/q6_v2.rs
  flock/src/datasource/nexmark/queries/q6_v3.rs
  flock/src/datasource/nexmark/queries/q7.rs
  flock/src/datasource/nexmark/queries/q8.rs
  flock/src/datasource/nexmark/queries/q9.rs
  flock/src/datasource/ysb/query.rs
  flock/src/datasource/ysb/ysb.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/executor/mod.rs
  flock/src/runtime/mod.rs
  flock/src/runtime/payload.rs
  flock/src/tests/nexmark.rs
  flock/src/transmute.rs
Due: copyright_checker

doc: add links for each query in readme
  README.md
Due: none

doc: add links for each query in readme (#386)
  README.md
Due: none

fix: using dataframe api for query 11
  flock/src/datasource/nexmark/queries/q11.rs
Due: copyright_checker

fix: add rust version back
  .github/workflows/rust.yml
Due: none

fix: update all dependencies
  .github/workflows/rust.yml
Due: none

docs: update dependencies
  README.md
Due: none

fix: use custom `structopt` to avoid version conflicts
  benchmarks/Cargo.toml
  flock/Cargo.toml
  flock/src/datasource/nexmark/queries/q11.rs
  playground/Cargo.toml
  scripts/parser/cloudwatch/Cargo.toml
Due: copyright_checker, cargo-sort-ck

fix: foramt pre-commit config
  .pre-commit-config.yaml
Due: copyright_checker

fix: using dataframe api for query 11 (#388)
  .github/workflows/rust.yml
  .pre-commit-config.yaml
  benchmarks/Cargo.toml
  flock/Cargo.toml
  flock/src/datasource/nexmark/queries/q11.rs
  playground/Cargo.toml
  scripts/parser/cloudwatch/Cargo.toml
Due: copyright_checker, cargo-sort-ck

feat: support q12 in local
  flock/src/datasource/nexmark/queries/mod.rs
  flock/src/datasource/nexmark/queries/q12.rs
Due: copyright_checker

docs: update nexmark readme
  README.md
Due: none

feat: support q12 in local (#389)
  README.md
  flock/src/datasource/nexmark/queries/mod.rs
  flock/src/datasource/nexmark/queries/q12.rs
Due: copyright_checker

fix: add session window after interval timeout
  README.md
  flock/src/datasource/nexmark/queries/q11.rs
Due: copyright_checker

fix: add session window after interval timeout (#390)
  README.md
  flock/src/datasource/nexmark/queries/q11.rs
Due: copyright_checker

feat!: add sink type: efs
  benchmarks/nexmark/main.rs
  benchmarks/nexmark/query/q10.sql
  flock/Cargo.toml
  flock/src/config.toml
  flock/src/datasink/mod.rs
  flock/src/driver/deploy/common.rs
Due: copyright_checker, cargo-sort-ck

fix: avoid panic if data sink isn't efs
  benchmarks/nexmark/main.rs
Due: copyright_checker

feat: write csv and parquet to csv
  benchmarks/nexmark/main.rs
  flock-function/src/aws/actor.rs
  flock/Cargo.toml
  flock/src/datasink/mod.rs
  flock/src/driver/deploy/common.rs
  flock/src/error.rs
  flock/src/prelude.rs
Due: copyright_checker, cargo-sort-ck

feat!: read parquet and csv from data sinke `efs`
  benchmarks/nexmark/main.rs
  flock/src/datasink/mod.rs
Due: copyright_checker

fix: update benchmark with efs
  benchmarks/nexmark/main.rs
  benchmarks/s3/main.rs
  benchmarks/ysb/main.rs
  flock/src/driver/deploy/common.rs
  flock_bench.sh
Due: copyright_checker

fix: add more EFS APIs
  benchmarks/nexmark/main.rs
  flock/src/datasink/mod.rs
  flock/src/driver/deploy/mod.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/services.rs
Due: copyright_checker

fix: disable efs
  benchmarks/nexmark/main.rs
  benchmarks/s3/main.rs
  benchmarks/ysb/main.rs
  flock/src/config.toml
  flock/src/datasink/mod.rs
  flock/src/services.rs
Due: copyright_checker

fix: avoid unused warning
  benchmarks/nexmark/main.rs
Due: copyright_checker

feat!: add sink type: efs (#391)
  benchmarks/nexmark/main.rs
  benchmarks/nexmark/query/q10.sql
  benchmarks/s3/main.rs
  benchmarks/ysb/main.rs
  flock-function/src/aws/actor.rs
  flock/Cargo.toml
  flock/src/config.toml
  flock/src/datasink/mod.rs
  flock/src/driver/deploy/common.rs
  flock/src/driver/deploy/mod.rs
  flock/src/error.rs
  flock/src/lib.rs
  flock/src/prelude.rs
  flock/src/services.rs
  flock_bench.sh
Due: copyright_checker, cargo-sort-ck

feat!: nexmark q10 on cloud functions
  benchmarks/nexmark/main.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock_bench.sh
Due: copyright_checker

feat!: nexmark q10 on cloud functions (#392)
  benchmarks/nexmark/main.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock_bench.sh
Due: copyright_checker

fix: add nexmark q11 on cloud functions
  benchmarks/nexmark/main.rs
  benchmarks/nexmark/query/q11.sql
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/main.rs
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/window.rs
  flock/src/datasource/nexmark/config.rs
  flock/src/datasource/nexmark/mod.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock_bench.sh
Due: copyright_checker, cargo-sort-ck

fix: find the schema from valid batch
  flock-function/src/aws/window.rs
  flock/src/driver/deploy/config.rs
  flock/src/transmute.rs
Due: copyright_checker

fix: add nexmark q11 on cloud functions (#393)
  benchmarks/nexmark/main.rs
  benchmarks/nexmark/query/q11.sql
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/main.rs
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/window.rs
  flock/src/datasource/nexmark/config.rs
  flock/src/datasource/nexmark/mod.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/driver/deploy/config.rs
  flock/src/transmute.rs
  flock_bench.sh
Due: copyright_checker, cargo-sort-ck

fix: add `rand u128` to payload's `tid`
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/payload.rs
Due: copyright_checker, cargo-sort-ck

feat: increase function group concurrency
  flock/src/config.toml
Due: none

fix: add `rand u128` to payload's `tid` (#395)
  flock-function/Cargo.toml
  flock-function/src/aws/actor.rs
  flock-function/src/aws/window.rs
  flock/src/config.toml
  flock/src/runtime/arena/mod.rs
  flock/src/runtime/payload.rs
Due: copyright_checker, cargo-sort-ck

feat: add q12 on cloud functions
  benchmarks/nexmark/main.rs
  benchmarks/nexmark/query/q12.sql
  benchmarks/s3/main.rs
  flock-function/src/aws/actor.rs
  flock-function/src/aws/nexmark/source.rs
  flock-function/src/aws/window.rs
  flock/src/datasource/nexmark/nexmark.rs
  flock/src/datasource/nexmark/queries/q12.rs
  flock/src/runtime/context.rs
  flock/src/runtime/query/stream.rs
  flock_bench.sh
Due: copyright_checker

fix: now() data type
  benchmarks/nexmark/main.rs
Due: copyright_checker

feat: optimize funtion creation
  benchmarks/nexmark/main.rs
Due: copyright_checker

fix: sleep <= 1 sec between epochs
  flock-function/src/aws/window.rs
Due: copyright_checker
